::selection {
    background: var(--green-color);
    color: var(--two-color);
}

::placeholder {
    color: var(--green-color);
    font-size: 1.1em;
    text-decoration: underline;
}

a:hover, a:active, a:focus,
button:hover, button:active, button:focus {
    background: var(--grey-color);
    color: var(--two-color);
    transform: scale(150%) rotate(-45deg);
    box-shadow: 0 0 10px var(--green-color);
}

a, button {
    transition: all 1s ease-out;
}

.loader {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite, hide 3s linear forwards;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.div-card1 {
    opacity: 0;
    animation: show 1s linear 3s forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}