:root {
    font-size: 62.5%;
    --primery-color: black;
    --two-color: white;
    --green-color: #4BA87D;
    --grey-color: #9F9F9F;
    --light-grey-color: #DBDBDB;
}


body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.width{
    min-width: 100%;
    margin: 0;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.header {
    gap: 30px;
    margin: 16px auto;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    width: max-content;
    box-sizing: border-box;
}

.button-paint {
    display: inline-block;
    margin-right: 12px;
    height: 25px;
    width: 110px;
    color: var(--two-color);
    background-color: var(--green-color);
    border: none;
    font-size: 1.1rem;
    font-weight: 800;
}

.button-paint1 {
    height: 42px;
    width: 144px;
    color: var(--two-color);
    background-color: var(--green-color);
    border: none;
    font-size: 1.1rem;
    font-weight: 800;
    text-decoration: none;
}

.div-link-butt-1-2 {
    gap: 14px;
    margin: 16px auto;
    justify-content: space-between;
}

.link-butt1 {
    font-family: 'Raleway', sans-serif;
    color: var(--two-color);
    background-color: var(--green-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 13px 40px;
    margin-left: auto;
}

.link-butt2 {
    font-family: 'Raleway', sans-serif;
    border: 3px solid var(--green-color);
    color: var(--green-color);
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 27px;
    margin-right: auto;
}

.link-butt3 {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    background-color: var(--two-color);
    color: var(--green-color);
    font-weight: 700;
    font-size: 0.6rem;
    text-decoration: none;
    padding: 7px 13px;
    margin-bottom: -85px;
}

.div-card1 {
    width: 209px;
    height: 294px;
    flex-direction: column;
    margin-top: 30px;
    align-self: flex-start;
    margin-left: 12px;
    background-color: var(--two-color);
}

.section-card-1 {
    display: flex;
    flex-direction: column;
}

.div-card2 {
    width: 209px;
    height: 294px;
    flex-direction: column;
    margin-top: 30px;
    align-self: flex-end;
    margin-right: 12px;
    background-color: var(--two-color);
}

.card-description {
    display: block;
    margin: 0%;
    width: 164px;
    margin: 17px 25px 17px 20px;
}

.link1 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    color: var(--green-color);
    font-weight: 800;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0% 25px 13px 20px;
}

.link2 {
    font-family: 'Raleway', sans-serif;
    color: var(--green-color);
    background-color: var(--two-color);
    font-weight: 900;
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
    width: 130px;
    height: 42px;
}

.brands-link {

    font-family: 'Raleway', sans-serif;
    color: var(--primery-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

}

.heading {
    display: block;
    position: absolute;
    margin-top: -50px;
    line-height: 46px;
    padding-right: 27px;
    padding-left: 8px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: var(--primery-color);
    font-size: 3.6rem;
    z-index: 9999;
}

.image-girl {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 9px; */
    align-items: center;
    margin-bottom: auto;
    position: relative;
}

.image-conteiner {
    position: relative;
    margin-top: 42px;
}

.image-video {
    display: flex;
    width: max-content;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.member-card {
    height: 157px;
    width: 223px;
    background: url('../image/photo_Frankie.png');
    margin-bottom: 21px;
}

.member-card_three {
    background: url('../image/photo_Elayne.png');
}

.member-card_two {
    background: url('../image/Camile_img.png');
}


.title_link {
    width: 87px;
    height: 29px;
    font-family: 'Raleway', sans-serif;
    color: var(--two-color);
    font-size: 2.6rem;
    font-weight: 900;
    text-decoration: none;
    display: block;
    margin-top: 100px;
    margin-left: 17px;
}

.heading-10 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: var(--two-color);
    font-size: 1.2rem;
    margin: 0;
    margin-top: 3px;
    margin-left: 17px;
}

.heading-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: var(--two-color);
    font-size: 2.2rem;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;

}

.div-heading-2 {
    width: 232px;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;

}

.heading-2 {
    display: block;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: var(--primery-color);
    font-size: 2.6rem;
    margin: 0%;
}

.heading-3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: var(--two-color);
    font-size: 4.2rem;
    text-align: center;
    margin-top: -42px;
}

.heading-4 {
    max-width: 239px;
    max-height: 155px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: var(--primery-color);
    font-size: 2.6rem;
    margin-top: 64px;
    margin-bottom: 16px ;
}

.section {
    margin-top: 64px;
    padding: 60px 0;
    background-color: var(--green-color);
}

.text-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--primery-color);
    font-size: 0.9rem;
    font-weight: bold;
}

.wrapper {
    max-width: auto;
    margin: 0 auto;
    padding-inline: 1em;
    margin-bottom: 6rem;
}

.input {
    min-width: 192px;
    padding: 14px;
    border: 1px solid var(--grey-color);
    border-radius: 4px;
}

.message {
    margin: 6px 0;
    color: var(--green-color);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.brand-row {
    width: 100%;
}
.brand-column {
    width: 100%;
}

.brand-column img {
    margin: 28px;
}

.logo-2 {
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: -16px;
}

.navigation-column {
    width: 100%;
}

.navigation-column a {
    display: block;
    margin-bottom: 6px;
}

.hr {
    margin: 24px 0;
    border-color: var(--light-grey-color);
    border-style: solid;
}

.footer {
    padding: 16px;
}